body{
    position: relative;
    padding-top: 15em;
}
.recipe-section{
    width:100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;    
    gap: 3em;
    grid-template-rows: 30em 30em;
}
.logo{
    color: white;
}
.title{
    color: black;
}
header{
    background-color: rgba(255, 77, 0, 0.734);
    padding: 0 0 3em 1em;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 35;
    z-index: 100;
}
.category-dropdown{
    display: block;
}

.recipe-search{
 width: 80%;
 padding: 1em 0 1em 1em;
}

.search-btn{
    padding: 1em 2em;
}
#spinnerContainer {
    position: relative;
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    margin: 50px;
}
.recipe-card{
    
}