body{
    position: relative;
    margin-top: 15em;
}
.recipe-section{
    width:100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;    
    column-gap: 3em;
    row-gap: 2em;
    justify-items: end;
    align-items: end;
    grid-template-rows: 300px 300px 300px;
}
.logo{
    color: white;
}
.title{
    color: black;
}
header{
    background-color: rgba(255, 77, 0, 0.734);
    padding: 0 0 3em 1em;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 35;
    z-index: 100;
}

.recipe-search{
 width: 80%;
 padding: 1em 0 1em 1em;
}

.search-btn{
    padding: 1em 2em;
}
.recipe-card{
    
}