body{
    position: relative;
    padding: 15em 10em 15em 10em;
}
.recipe-section{
    width:100%;
   /* height: 100vh;*/
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));   
    grid-auto-rows: minmax(250px, auto);
    row-gap: 1em;
    column-gap: 1em;
    z-index: 102;
}

.logo{
    color: white;
}
.title{
    color: black;
}
header{
    background-color: rgba(255, 77, 0, 0.734);
    padding: 0 0 3em 1em;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 35;
    z-index: 100;
}
.form-validation{
     margin: 0;
}
.hidden{
    display: none;
}
.category-dropdown{
    display: block;
}

.recipe-search{
 width: 80%;
 padding: 1em 0 1em 1em;
 border-top-left-radius: 2em;
 border-bottom-left-radius: 2em;
}

.search-btn{
    padding: 1em 2em;
    margin-left: -9px;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
}
#spinnerContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
  
}
.user-message-update{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(49, 47, 47, 0.34);
    z-index: 104;
}
.category-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.category-section button{
  padding: 2em 1em;
}
